:global(body) {
  margin: 0;
  overflow: hidden;
}

.backgroundStyle {
  width: 100vw;
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(231, 231, 48, 0.5);

  

  .userStyle {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: aqua;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::-webkit-scrollbar {
  display: none;
}
